h1 {
  color:solid red;
font-size: 30pt; 
}
body {
  background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjk2MC1uaW5nLTMwLmpwZw.jpg")
}
div {
  text-align: center;
}

p {
  color: solid blue;
  font-size: 15;
}

.f1 { 
  font-family: "Monaco"; 
}

.f2 {
  font-family: "Courier New";
}


li {
  color: solid green;
  font-size 20;
}

.oblique {
  font-style: oblique;  
}

  .odd {
     background-color:	#FA8072;
     }
     .even {
     background-color:#FFF5EE;
     }

    .b {
      width: 400px;
      padding: 10px;
      border: 30px solid green;
      margin-left: auto;
      margin-right: auto;
      }
    
     .a {
      width: 200px;
      padding: 30px;
      border: 20px solid green;
      margin: 60px;
      }

      section {
      background-color: solid pink;
      }

    
      
