h1 {
  color: red;
font-size: 30pt; 
}
body {
  background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjk2MC1uaW5nLTMwLmpwZw.jpg")
}
div {
  text-align: center;
}

p {
  color: blue;
  font-size: 20;
}

li {
  color: green;
  font-size 20;
}

.p {
  font-family: Courier New, Monospace;
}

p.oblique {
  font-style: oblique;  
} 
<p class="oblique">How to bake a cake.</p>
