h1 {
  color : green;
font-size 30pt ; 
}
body {
  background-image: url ("https://www.rawpixel.com/image/3016312/free-illustration-vector-gradient-background-colorful")
}
div {
  text-align: center;
}

